
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main{
  width: 100%;
  height: 100vh;
  background: url(../image/time-clock-hourglass-hour.jpg) center center;
  background-size: cover;
}

.overlay{
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.title{
  text-align: center;
  font-size: x-large;
  font-size: x-large;
}
.col{
 width: 1000px;
  display: flex;
  justify-content: center;


}
input{
  height: 50px;
  width: 60%;
  display: block;
  text-align: center;
  background-color: rgba(250, 234, 234, 0.571);
  border-color: transparent;
  border-radius: 10px;

}

.col div{
  width: 250px;
  

   
}