*{
  margin: 0;
  padding: 0;

}

body{
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;

  .container{
   background-color: white;
    width: 1000px;          /* increase width */
     max-width: 90vw;   
 }
    
#content {
  height: 250px;          
  width: 100%;
  padding: 12px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #fff;

  /* overflow-y: auto;     
  overflow-x: hidden; */

  outline: none;
  overflow: scroll;
}

.toolbar{
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid;
  .head{
      display: flex;
      grid-gap: 12px;
      margin-bottom: 20px;
      flex-wrap: wrap;  
  }
}
.head{
  display: flex;
  grid-gap: 12px;
  margin-bottom: 20px;
  flex-wrap: wrap;

  select{
    background: #fff;
    border: 1px solid ;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 14px;
    transition: all 0.2s ease;

  }

  #FileName{
    background: #fff;
    border: 1px solid ;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 14px;
    transition: all 0.2s ease;

  }
  .color{
    background: #fff;
    border: 1px solid;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    grid-gap: 8px;
    padding: 0px 12 px;
    transition: all 0.2s ease;
  }

   .background{
    background: #fff;
    border: 1px solid;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    grid-gap: 8px;
    padding: 0px 12 px;
    transition: all 0.2s ease;
  }

  .btn-toolbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 8px;
  }

  button{
     background: 0 0;
    border: 1px solid black;
     border-radius: 8px;
     cursor: pointer;
     width: 40px;
      height: 40px;
      
      
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      color: #333;
      transition: all 0.2s ease;
  }
}



}
